In [6]:
pip install pandas numpy matplotlib

Defaulting to user installation because normal site-packages is not writeable
Collecting pandas
  Obtaining dependency information for pandas from https://files.pythonhosted.org/packages/5b/7e/9fd11ba8e86a8add8f2ff4e11c7111f65ec6fd1b547222160bb969e2bf5e/pandas-2.2.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata
  Using cached pandas-2.2.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (19 kB)
Collecting numpy
  Obtaining dependency information for numpy from https://files.pythonhosted.org/packages/3a/d0/edc009c27b406c4f9cbc79274d6e46d634d139075492ad055e3d68445925/numpy-1.26.4-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata
  Using cached numpy-1.26.4-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (61 kB)
Collecting matplotlib
  Obtaining dependency information for matplotlib from https://files.pythonhosted.org/packages/92/1a/cd3e0c90d1a763ad90073e13b189b4702f11becf4e71dbbad70a7a149811/matplotlib-3.8.2-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata
  Downloading matplotlib-3.8.2-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (5.8 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /srv/jupyter/python-venv/lib/python3.11/site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1 (from pandas)
  Obtaining dependency information for pytz>=2020.1 from https://files.pythonhosted.org/packages/9c/3d/a121f284241f08268b21359bd425f7d4825cffc5ac5cd0e1b3d82ffd2b10/pytz-2024.1-py2.py3-none-any.whl.metadata
  Downloading pytz-2024.1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Obtaining dependency information for tzdata>=2022.7 from https://files.pythonhosted.org/packages/a3/fb/52b62131e21b24ee297e4e95ed41eba29647dad0e0051a92bb66b43c70ff/tzdata-2023.4-py2.py3-none-any.whl.metadata
  Downloading tzdata-2023.4-py2.py3-none-any.whl.metadata (1.4 kB)
Collecting contourpy>=1.0.1 (from matplotlib)
  Obtaining dependency information for contourpy>=1.0.1 from https://files.pythonhosted.org/packages/e2/83/29a63bbc72839cc6b24b5a0e3d004d4ed4e8439f26460ad9a34e39251904/contourpy-1.2.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata
  Downloading contourpy-1.2.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (5.8 kB)
Collecting cycler>=0.10 (from matplotlib)
  Obtaining dependency information for cycler>=0.10 from https://files.pythonhosted.org/packages/e7/05/c19819d5e3d95294a6f5947fb9b9629efb316b96de511b418c53d245aae6/cycler-0.12.1-py3-none-any.whl.metadata
  Downloading cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Collecting fonttools>=4.22.0 (from matplotlib)
  Obtaining dependency information for fonttools>=4.22.0 from https://files.pythonhosted.org/packages/ec/9c/0e41b79c6fcd539532b2386a10313e9c4b2b53149630e623dcbd90b454c9/fonttools-4.48.1-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata
  Downloading fonttools-4.48.1-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (158 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 158.9/158.9 kB 265.2 kB/s eta 0:00:00a 0:00:01
Collecting kiwisolver>=1.3.1 (from matplotlib)
  Obtaining dependency information for kiwisolver>=1.3.1 from https://files.pythonhosted.org/packages/17/ba/17a706b232308e65f57deeccae503c268292e6a091313f6ce833a23093ea/kiwisolver-1.4.5-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata
  Downloading kiwisolver-1.4.5-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (6.4 kB)
Requirement already satisfied: packaging>=20.0 in /srv/jupyter/python-venv/lib/python3.11/site-packages (from matplotlib) (23.1)
Collecting pillow>=8 (from matplotlib)
  Obtaining dependency information for pillow>=8 from https://files.pythonhosted.org/packages/66/9c/2e1877630eb298bbfd23f90deeec0a3f682a4163d5ca9f178937de57346c/pillow-10.2.0-cp311-cp311-manylinux_2_28_x86_64.whl.metadata
  Downloading pillow-10.2.0-cp311-cp311-manylinux_2_28_x86_64.whl.metadata (9.7 kB)
Collecting pyparsing>=2.3.1 (from matplotlib)
  Obtaining dependency information for pyparsing>=2.3.1 from https://files.pythonhosted.org/packages/39/92/8486ede85fcc088f1b3dba4ce92dd29d126fd96b0008ea213167940a2475/pyparsing-3.1.1-py3-none-any.whl.metadata
  Downloading pyparsing-3.1.1-py3-none-any.whl.metadata (5.1 kB)
Requirement already satisfied: six>=1.5 in /srv/jupyter/python-venv/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (13.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 13.0/13.0 MB 121.5 kB/s eta 0:00:0000:0100:03
Downloading numpy-1.26.4-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (18.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 18.3/18.3 MB 176.7 kB/s eta 0:00:0000:0100:03
Downloading matplotlib-3.8.2-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (11.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.6/11.6 MB 119.2 kB/s eta 0:00:0000:0100:03
Downloading contourpy-1.2.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (313 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 313.4/313.4 kB 102.8 kB/s eta 0:00:0000:0100:01
Downloading cycler-0.12.1-py3-none-any.whl (8.3 kB)
Downloading fonttools-4.48.1-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (4.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.9/4.9 MB 116.4 kB/s eta 0:00:0000:0100:02
Downloading kiwisolver-1.4.5-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.4/1.4 MB 148.6 kB/s eta 0:00:0000:0100:01
Downloading pillow-10.2.0-cp311-cp311-manylinux_2_28_x86_64.whl (4.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.5/4.5 MB 81.6 kB/s eta 0:00:0000:0100:02m
Downloading pyparsing-3.1.1-py3-none-any.whl (103 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 103.1/103.1 kB 137.8 kB/s eta 0:00:00a 0:00:01
Downloading pytz-2024.1-py2.py3-none-any.whl (505 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 505.5/505.5 kB 186.7 kB/s eta 0:00:00a 0:00:01
Downloading tzdata-2023.4-py2.py3-none-any.whl (346 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 346.6/346.6 kB 252.0 kB/s eta 0:00:0000:0100:01
Installing collected packages: pytz, tzdata, pyparsing, pillow, numpy, kiwisolver, fonttools, cycler, pandas, contourpy, matplotlib
  WARNING: The script f2py is installed in '/home/u19ea4064e123ed7c1fe5f6d0185430d/.local/bin' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
  WARNING: The scripts fonttools, pyftmerge, pyftsubset and ttx are installed in '/home/u19ea4064e123ed7c1fe5f6d0185430d/.local/bin' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
Successfully installed contourpy-1.2.0 cycler-0.12.1 fonttools-4.48.1 kiwisolver-1.4.5 matplotlib-3.8.2 numpy-1.26.4 pandas-2.2.0 pillow-10.2.0 pyparsing-3.1.1 pytz-2024.1 tzdata-2023.4

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: /srv/jupyter/python-venv/bin/python3 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [9]:
pip install --upgrade pip

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pip in /srv/jupyter/python-venv/lib/python3.11/site-packages (23.2.1)
Collecting pip
  Obtaining dependency information for pip from https://files.pythonhosted.org/packages/8a/6a/19e9fe04fca059ccf770861c7d5721ab4c2aebc539889e97c7977528a53b/pip-24.0-py3-none-any.whl.metadata
  Downloading pip-24.0-py3-none-any.whl.metadata (3.6 kB)
ERROR: Will not install to the user site because it will lack sys.path precedence to pip in /srv/jupyter/python-venv/lib/python3.11/site-packages

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: /srv/jupyter/python-venv/bin/python3 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [1]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in ./.local/lib/python3.11/site-packages (2.2.0)
Requirement already satisfied: numpy<2,>=1.23.2 in ./.local/lib/python3.11/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /srv/jupyter/python-venv/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in ./.local/lib/python3.11/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in ./.local/lib/python3.11/site-packages (from pandas) (2023.4)
Requirement already satisfied: six>=1.5 in /srv/jupyter/python-venv/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: /srv/jupyter/python-venv/bin/python3 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install scikit-learn

Defaulting to user installation because normal site-packages is not writeable
Collecting scikit-learn
  Obtaining dependency information for scikit-learn from https://files.pythonhosted.org/packages/5b/be/208f17ce87a5e55094b0e8ffd55b06919ab9b56e7e4ce2a64cd9095ec5d2/scikit_learn-1.4.0-1-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata
  Downloading scikit_learn-1.4.0-1-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (11 kB)
Requirement already satisfied: numpy<2.0,>=1.19.5 in ./.local/lib/python3.11/site-packages (from scikit-learn) (1.26.4)
Collecting scipy>=1.6.0 (from scikit-learn)
  Obtaining dependency information for scipy>=1.6.0 from https://files.pythonhosted.org/packages/d4/b8/7169935f9a2ea9e274ad8c21d6133d492079e6ebc3fc69a915c2375616b0/scipy-1.12.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata
  Downloading scipy-1.12.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (60 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 60.4/60.4 kB 189.1 kB/s eta 0:00:00a 0:00:01
Collecting joblib>=1.2.0 (from scikit-learn)
  Obtaining dependency information for joblib>=1.2.0 from https://files.pythonhosted.org/packages/10/40/d551139c85db202f1f384ba8bcf96aca2f329440a844f924c8a0040b6d02/joblib-1.3.2-py3-none-any.whl.metadata
  Downloading joblib-1.3.2-py3-none-any.whl.metadata (5.4 kB)
Collecting threadpoolctl>=2.0.0 (from scikit-learn)
  Obtaining dependency information for threadpoolctl>=2.0.0 from https://files.pythonhosted.org/packages/81/12/fd4dea011af9d69e1cad05c75f3f7202cdcbeac9b712eea58ca779a72865/threadpoolctl-3.2.0-py3-none-any.whl.metadata
  Downloading threadpoolctl-3.2.0-py3-none-any.whl.metadata (10.0 kB)
Downloading scikit_learn-1.4.0-1-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.1/12.1 MB 111.3 kB/s eta 0:00:0000:0100:03
Downloading joblib-1.3.2-py3-none-any.whl (302 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 302.2/302.2 kB 181.4 kB/s eta 0:00:00a 0:00:01
Downloading scipy-1.12.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (38.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 38.4/38.4 MB 129.6 kB/s eta 0:00:0000:0100:06
Downloading threadpoolctl-3.2.0-py3-none-any.whl (15 kB)
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn
Successfully installed joblib-1.3.2 scikit-learn-1.4.0 scipy-1.12.0 threadpoolctl-3.2.0

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: /srv/jupyter/python-venv/bin/python3 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [4]:
from collections import Counter, defaultdict
from itertools import combinations
import pandas as pd
import numpy as np
import operator
import math
import itertools
from sklearn.feature_extraction import DictVectorizer
from sklearn import preprocessing, tree
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.neural_network import MLPClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_predict
from scipy.stats import mode

In [ ]:
## Goal of this project:
# Predicting Medal Winners: Build a machine learning model to predict whether an athlete will win a medal in a specific event
# based on features such as age, sex, height, weight, team, and events they compete in

## Use ensemble method

## Accuracy score as a metrics of the success

In [5]:
from google.colab import files
uploaded = files.upload()

ModuleNotFoundError: No module named 'google'

In [6]:
# Original, raw data
df_org = pd.read_csv('dataset_olympics.csv')
df_org.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [ ]:
# Data Cleaning

In [7]:
def data_cleaning(df_org, sex, season):
  df = df_org[df_org['Sex'] == sex]                                     # Filter by sex
  df = df[df['Season'] == season]                                       # Filter by season
  df = df.drop(['Sex', 'Season', 'Games'], axis = 1)                    # Unnecessary since already filtered; games is redundant of "Year" column
  df['Weight'].fillna(df['Weight'].median(), inplace=True)              # NaN Weight values
  df['Age'].fillna(df['Age'].median(), inplace=True)                    # NaN Age values
  df['Height'].fillna(df['Height'].median(), inplace=True)              # NaN Height values
  df = df.drop(['ID', 'City', 'Team'], axis = 1)                        # Redundant: ID and Name of the athletes, City with the Year, Team and NOC
  df['Medal'] = df['Medal'].apply(lambda x: 0 if pd.isnull(x) else 1)   # Outcome variable: 1 for winning any medal, 0 for not winning

  one_hot_encoded = pd.get_dummies(df['Name'], prefix='Name')           # Dummy for each athletes
  df = pd.concat([df, one_hot_encoded], axis=1).drop('Name', axis = 1)
  one_hot_encoded = pd.get_dummies(df['NOC'], prefix='NOC')             # Dummy for each NOC
  df = pd.concat([df, one_hot_encoded], axis=1).drop('NOC', axis = 1)
  one_hot_encoded = pd.get_dummies(df['Year'], prefix='Year')           # Dummy for each year the Olympic was held
  df = pd.concat([df, one_hot_encoded], axis=1).drop('Year', axis = 1)
  one_hot_encoded = pd.get_dummies(df['Sport'], prefix='Sport')         # Dummy for sports
  df = pd.concat([df, one_hot_encoded], axis=1).drop('Sport', axis = 1)
  one_hot_encoded = pd.get_dummies(df['Event'], prefix='Event')         # Dummy for events
  df = pd.concat([df, one_hot_encoded], axis=1).drop('Event', axis = 1)
  return df

In [8]:
# Female Summer
df_fs = data_cleaning(df_org, 'F', 'Summer')
X_fs = df_fs.drop(['Medal'], axis = 1)
y_fs = df_fs['Medal']
df_fs.head()

/tmp/ipykernel_2158926/877337629.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Weight'].fillna(df['Weight'].median(), inplace=True)              # NaN Weight values
/tmp/ipykernel_2158926/877337629.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].median(), inplace=True)                    # NaN Age values
/tmp/ipykernel_2158926/877337629.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Height'].fillna(df['Height'].median(), inplace=True)              # NaN Height values

,Age,Height,Weight,Medal,"Name_ Gabrielle Marie ""Gabby"" Adcock (White-)",Name_ Th Anh,Name_ Th Ngn Thng,Name_A. Brun,Name_Aadjijatmiko Finarsih H.,Name_Aauri Lorena Bokesa Abia,...,Event_Weightlifting Women's Light-Heavyweight,Event_Weightlifting Women's Lightweight,Event_Weightlifting Women's Middleweight,Event_Weightlifting Women's Super-Heavyweight,"Event_Wrestling Women's Featherweight, Freestyle","Event_Wrestling Women's Flyweight, Freestyle","Event_Wrestling Women's Heavyweight, Freestyle","Event_Wrestling Women's Light-Heavyweight, Freestyle","Event_Wrestling Women's Lightweight, Freestyle","Event_Wrestling Women's Middleweight, Freestyle"
26,18.0,168.0,59.0,0,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
27,18.0,168.0,59.0,0,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
32,30.0,159.0,55.5,0,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
33,34.0,159.0,55.5,0,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
79,27.0,163.0,59.0,1,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [9]:
# Female Winter
df_fw = data_cleaning(df_org, 'F', 'Winter')
X_fw = df_fw.drop(['Medal'], axis = 1)
y_fw = df_fw['Medal']
df_fw.head()

/tmp/ipykernel_2158926/877337629.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Weight'].fillna(df['Weight'].median(), inplace=True)              # NaN Weight values
/tmp/ipykernel_2158926/877337629.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].median(), inplace=True)                    # NaN Age values
/tmp/ipykernel_2158926/877337629.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Height'].fillna(df['Height'].median(), inplace=True)              # NaN Height values

,Age,Height,Weight,Medal,"Name_Aaltje Grietje ""Alie"" Boorsma","Name_Abigail E. ""Abbi"" Fisher (-Gould)",Name_Adeline Baud (-Mugnier),Name_Agnes Erika Aanonsen (-Eyde),Name_Agnese boltia,Name_Agnieszka Cyl (Grzybek-),...,Event_Snowboarding Women's Halfpipe,Event_Snowboarding Women's Parallel Giant Slalom,Event_Snowboarding Women's Parallel Slalom,Event_Snowboarding Women's Slopestyle,"Event_Speed Skating Women's 1,000 metres","Event_Speed Skating Women's 1,500 metres","Event_Speed Skating Women's 3,000 metres","Event_Speed Skating Women's 5,000 metres",Event_Speed Skating Women's 500 metres,Event_Speed Skating Women's Team Pursuit (6 laps)
4,21.0,185.0,82.0,0,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
5,21.0,185.0,82.0,0,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
6,25.0,185.0,82.0,0,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
7,25.0,185.0,82.0,0,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
8,27.0,185.0,82.0,0,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False

In [10]:
# Male Summer
df_ms = data_cleaning(df_org, 'M', 'Summer')
X_ms = df_ms.drop(['Medal'], axis = 1)
y_ms = df_ms['Medal']
df_ms.head()

/tmp/ipykernel_2158926/877337629.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Weight'].fillna(df['Weight'].median(), inplace=True)              # NaN Weight values
/tmp/ipykernel_2158926/877337629.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].median(), inplace=True)                    # NaN Age values
/tmp/ipykernel_2158926/877337629.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Height'].fillna(df['Height'].median(), inplace=True)              # NaN Height values

,Age,Height,Weight,Medal,Name_ Luis ngel Fernando de los Santos Grossi,Name_ Tin Tun,Name_A Dijiang,Name_A Lamusi,Name_A. Abdul Razzak,Name_A. Albert,...,"Event_Wrestling Men's Lightweight, Greco-Roman","Event_Wrestling Men's Middleweight A, Greco-Roman","Event_Wrestling Men's Middleweight B, Greco-Roman","Event_Wrestling Men's Middleweight, Freestyle","Event_Wrestling Men's Middleweight, Greco-Roman","Event_Wrestling Men's Super-Heavyweight, Freestyle","Event_Wrestling Men's Super-Heavyweight, Greco-Roman","Event_Wrestling Men's Unlimited Class, Greco-Roman","Event_Wrestling Men's Welterweight, Freestyle","Event_Wrestling Men's Welterweight, Greco-Roman"
0,24.0,180.0,80.0,0,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,23.0,170.0,60.0,0,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
2,24.0,179.0,74.0,0,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,34.0,179.0,74.0,1,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
29,26.0,179.0,74.0,0,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [11]:
# Male Winter
df_mw = data_cleaning(df_org, 'M', 'Winter')
X_mw = df_mw.drop(['Medal'], axis = 1)
y_mw = df_mw['Medal']
df_mw.head()

/tmp/ipykernel_2158926/877337629.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Weight'].fillna(df['Weight'].median(), inplace=True)              # NaN Weight values
/tmp/ipykernel_2158926/877337629.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].median(), inplace=True)                    # NaN Age values
/tmp/ipykernel_2158926/877337629.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Height'].fillna(df['Height'].median(), inplace=True)              # NaN Height values

,Age,Height,Weight,Medal,Name_Aaron Blunck,"Name_Aaron J. ""AJ"" Bear",Name_Abraham Fernndez Martnez,Name_Abzal Abaytovich Azhgaliyev,Name_Achille Alberto Bacher,Name_Adam Barclay,...,Event_Snowboarding Men's Parallel Giant Slalom,Event_Snowboarding Men's Parallel Slalom,Event_Snowboarding Men's Slopestyle,"Event_Speed Skating Men's 1,000 metres","Event_Speed Skating Men's 1,500 metres","Event_Speed Skating Men's 10,000 metres","Event_Speed Skating Men's 5,000 metres",Event_Speed Skating Men's 500 metres,Event_Speed Skating Men's Allround,Event_Speed Skating Men's Team Pursuit (8 laps)
10,31.0,188.0,75.0,0,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
11,31.0,188.0,75.0,0,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
12,31.0,188.0,75.0,0,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
13,31.0,188.0,75.0,0,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
14,33.0,188.0,75.0,0,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [ ]:
# Data cleaning completed
# Ensemble method: Random Forest, MLP Classifier, and Decision Tree => Take the majority vote

In [12]:
def get_accuracy_score(X, y):

  clf = DecisionTreeClassifier()
  mlp_model = MLPClassifier(hidden_layer_sizes=(2, 2), max_iter=5, random_state=0)
  forest_model = RandomForestClassifier(n_estimators=10)

  X_train, X_val, Y_train, Y_val = train_test_split(X,y)

  clf.fit(X_train, Y_train)
  mlp_model.fit(X_train, Y_train)
  forest_model.fit(X_train, Y_train)

  clf_y_pred = clf.predict(X_val)
  mlp_y_pred = mlp_model.predict(X_val)
  forest_y_pred = forest_model.predict(X_val)

  stacked_arrays = np.column_stack((clf_y_pred, mlp_y_pred, forest_y_pred))
  majority_y_pred, counts = mode(stacked_arrays, axis=1)

  score = accuracy_score(majority_y_pred, Y_val)
  return score

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import StackingClassifier

def V2_get_accuracy_score(X, y):
    # create estimators
    estimators = [
            ('DTC',DecisionTreeClassifier())
            ,('mlp',MLPClassifier(hidden_layer_sizes=(2, 2), max_iter=10, random_state=0))
            ,('RFC',RandomForestClassifier(n_estimators=10))]
    # Store in StackingClassifier constructor - uses LogisticRegression for voting
    clf = StackingClassifier(
            estimators=estimators, final_estimator=LogisticRegression()
            )


    X_train, X_val, Y_train, Y_val = train_test_split(X,y)

    clf.fit(X_train, Y_train)
    voted_prediction = clf.predict(X_val)
    score = accuracy_score(voted_prediction, Y_val)

    return score

In [13]:
score_fs = get_accuracy_score(X_fs, y_fs)
score_fs

/home/u19ea4064e123ed7c1fe5f6d0185430d/.local/lib/python3.11/site-packages/sklearn/neural_network/_multilayer_perceptron.py:691: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (5) reached and the optimization hasn't converged yet.
  warnings.warn(

0.8747288503253796

In [14]:
score_fw = get_accuracy_score(X_fw, y_fw)
score_fw

/home/u19ea4064e123ed7c1fe5f6d0185430d/.local/lib/python3.11/site-packages/sklearn/neural_network/_multilayer_perceptron.py:691: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (5) reached and the optimization hasn't converged yet.
  warnings.warn(

0.8837485172004745

In [16]:
score_ms = get_accuracy_score(X_ms, y_ms)
score_ms

/home/u19ea4064e123ed7c1fe5f6d0185430d/.local/lib/python3.11/site-packages/sklearn/neural_network/_multilayer_perceptron.py:691: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (5) reached and the optimization hasn't converged yet.
  warnings.warn(

0.8821484124805563

In [ ]:
#X = X_ms, y = y_ms
clf = DecisionTreeClassifier()
mlp_model = MLPClassifier(hidden_layer_sizes=(2, 2), max_iter=5, random_state=0)
forest_model = RandomForestClassifier(n_estimators=10)

X_train, X_val, Y_train, Y_val = train_test_split(X_ms,y_ms)

clf.fit(X_train, Y_train)
mlp_model.fit(X_train, Y_train)
forest_model.fit(X_train, Y_train)

clf_y_pred = clf.predict(X_val)
mlp_y_pred = mlp_model.predict(X_val)
forest_y_pred = forest_model.predict(X_val)

stacked_arrays = np.column_stack((clf_y_pred, mlp_y_pred, forest_y_pred))
majority_y_pred, counts = mode(stacked_arrays, axis=1)

score = accuracy_score(majority_y_pred, Y_val)
score

In [17]:
score_mw = get_accuracy_score(X_mw, y_mw)
score_mw

/home/u19ea4064e123ed7c1fe5f6d0185430d/.local/lib/python3.11/site-packages/sklearn/neural_network/_multilayer_perceptron.py:691: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (5) reached and the optimization hasn't converged yet.
  warnings.warn(

0.9059284664380206

In [18]:
score_fs, score_fw, score_ms, score_mw

(0.8747288503253796,
 0.8837485172004745,
 0.8821484124805563,
 0.9059284664380206)

In [ ]:
## Conclusion/Inference